# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build/*
!/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.env.local

/.cache
/.config
/.firebase
/.npm
/.vscode
/.yarn
.bash_history
.yarnrc
.node_repl_history

src/templates/*
# append your template if you want add it to git  
!src/templates/default

src/drivers/*
# append your driver if you want add it to git  
!src/drivers/firebase
!src/drivers/localstorage
!src/drivers/test